
/*
General styling
*/

body {
  	font-family: Sans-Serif;
	width: 100%;
	height: 100%;
	margin: 0;
	margin-bottom: 100px;
	background-color: #FFF;
	overflow: scroll;
}

/*
Page content
*/

div.start {
	text-align: center;
}

ul.start {
	margin-top: 0;
	display: inline-block;
	text-align: left;
}

div.text {
	text-align: left;
	margin-left: 19.1%;
	margin-right: 19.1%;
}

hr {
	padding: 0;
	margin: 0;
}

/*
For visualizations
*/

.visualization {
	display: block;
	position: relative;
	align: center;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.zoom {
	cursor: move;
	fill: none;
	pointer-events: fill;
}

/* end of index.css */
