@import "index.css";

.title {
	fill: black;
	font-family: sans-serif;
	text-anchor: middle;
	text-align: center;
	font-size: 1.5em;
}

#tweet {
	position: absolute;
	z-index: 100;
	left: 80%;
	height: auto;
}
