@import "index.css";

.tweet {
	fill: #1da1f2;
	stroke: black;
	opacity: 0.5;
}

circle.clicked {
	stroke-width: 5;
}

.searchedTweet {
	fill: yellow;
	opacity: 0.9;
}

.infoDisplay {
	margin: 1%;
}

#tweetTextDiv {
	position: absolute;
	font-family: Helvetica;
	text-align: left;
	width: 20%;
}

#searchDiv {
	height: 20px;
}

.highlight {
  background-color: yellow;
}

path, line {
  fill: none;
  stroke: black;
}

.axis {
	position:relative;
	z-index:1000000;
}

.axis text {
	fill: black;
	font-size: 1em;
}

#userTimelineVisualizationDiv {
	width: auto;
	height: auto;
	position: relative;
	align: center;
}

.title {
	fill: black;
	font-family: sans-serif;
	text-anchor: middle;
	text-align: center;
	font-size: 1.5em;
}

.searchField {
	font-family: sans-serif;
}

#tweet {
	position: absolute;
	left: 60%;
	height: auto;
}
